.navbar-inverse { background-color: #2c3e50; }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #1a242f;
}
.navbar-inner { min-height: 70px; }

.navbar .nav>li a { 
    min-height: 70px;
    padding-top: 25px;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    color: #fff;
}

body {
    padding-top: 75px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}       

.container-960 {
    max-width: 960px;
}

.relative { position: relative; }

.login-container {
    margin-top: 10%;
}

.left-wrapper {
    padding-left: 245px;
}

.sidebar-wrapper {
  margin-left: -245px;
  left: 245px;
  width: 245px;
  background: #2c3e50;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  border-top: 1px solid #1E2E3F;
  top: 70px;
}

.page-content-wrapper {
  width: 100%;
  padding: 1rem;
}

ul a{
  color: #fff;
}

.padded-sidemenu {

}

  .padded-sidemenu > li.active > a, .padded-sidemenu > li > a{
    background-color: #0A1724;    
    border-radius: 0;
    border-bottom: 1px solid #20262C;
  }

  .padded-sidemenu > li.active:hover > a, .padded-sidemenu > li:hover > a  {
    background-color: #0A1724;
    color: #EE352A;
  }

  .padded-sidemenu li a span {
    padding-right: 0.6rem;
  }

    .padded-sidemenu ul {

    }

    .padded-sidemenu ul > li > a {
      padding-left: 3.9rem; 
      border-radius: 0; 
      background: #222F3F;
    }

      .padded-sidemenu ul > li > a:hover {
        background-color: #EE352A;
        color: #fff;
      }

.nav-stacked>li+li {
  margin: 0;
}